.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rcheck/
*.tar.gz
*.zip
*.log
*.tmp
*.db
r-lib/
inst/extdata/*.db
regionbarcoder.Rcheck/
docs/
tmp/
temp/
*.fasta
*.fa
*.tsv
test_dada2.fasta
test_qiime2.fasta
test_qiime2_taxonomy.tsv
/doc/
/Meta/
docs
