.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rcheck/
*.tar.gz
*.zip
*.log
*.tmp
*.db
r-lib/
inst/extdata/*.db
regionbarcoder.Rcheck/
tmp/
temp/
*.fasta
*.fa
*.tsv
test_dada2.fasta
test_qiime2.fasta
test_qiime2_taxonomy.tsv
/Meta/
data-raw/slovenian_fish/cache/
data-raw/slovenian_fish/raw/
data-raw/slovenian_fish/processed/
